footer {
    text-align: center;
    padding: 15px;
    background: var(--color-3);
    margin-top: 15px;
    
}

.footer-cnt{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-cnt img{
    width: 24px;
    color: white;
}