*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--color-2);
    font-family: Arial, Helvetica, sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


:root {
    --bg-color:#101010;
    --color-1: black;
    --color-2: #ffff;
    --color-3: #CC0000;
    --color-4: #850101;
    --color-5: #4A0001;
    
}

