*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--color-2);
    font-family: Arial, Helvetica, sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


:root {
    --bg-color:#101010;
    --color-1: black;
    --color-2: #ffff;
    --color-3: #CC0000;
    --color-4: #850101;
    --color-5: #4A0001;
    
}

/* header */

header{
   background-color:var(--color-1);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px;
   margin: 0 auto;
}

.logo img{
    display: block;
    width: 70%;
}

@media (max-width:600px) {
    .logo img{
        width: 50%;
        margin-bottom: 10px;
    }

}


.menu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu li {
    padding: 5px;
}

.menu a {
    font-size: 1.5em;
}


.menu a:hover{
    color: var(--color-4);
}

.btn-mobile {
    display: none;
}

@media(max-width:600px) {

   
    @media(max-width : 600px) {

        #menu {
    
           display: block;
           position: absolute;
           width: 100%;
           top: 70px;
           right: 0px;
           height: 0px;
           background:  var(--color-1) ;
           z-index: 1000;
           transition: .6s;
           visibility: hidden;
           overflow-y: hidden;
    
    
        }
    
        #nav.active #menu {
            height: calc(50vh);
            visibility: visible;
            overflow-y: auto;
        }
    
        #menu a {
            color: var(--color-2);  
            
        }

        #menu a:hover {
            color: var(--color-4);
        }
    
        .btn-mobile {
            display: flex;
            padding: .5rem 0.5rem;
            margin: 5px;
            font-size: 1rem;
            border: none;
            cursor: pointer;
        }
    
        #hamburguer {
            display: block;
            border-top: 2px solid;
            width: 20px;
    
        }
    
        #hamburguer::after, #hamburguer::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            margin-top: 5px;
            transition: .3s;
            position: relative;
        }
    
        #nav.active #hamburguer {
            border-top-color: transparent;
        }
    
        #nav.active #hamburguer::before{
            transform: rotate(135deg);
        }
    
        #nav.active #hamburguer::after{
            transform: rotate(-135deg);
            top: -7px;
        }
        
    }
}


/*sobre */

 p{
    font-size: 1.25em;
    text-align: center;
    padding: 1em;
 }
 

 h1 {
    font-size: 2.25em;
    color: var(--color-3);
    text-align: center;
    padding: 1em;
}

.sobre h1{
    padding: 10px;
    font-size: 2.50em;
    color: var(--color-3);

}

.sobre p {
    padding: 10px;
    line-height: 2;
    font-size: 1.50em;
}

/*container */

.container{
    display: flex;
    justify-content: center;
    padding: 0 60px;
    margin: 0 auto;
    
    
}

.card{
    min-width: 350px;
    width: 500px;
    background: var(--color-3);
    border-radius: 5px;
    
}



.card-head {
    
    text-align: center;
    height: 100px;
    background: var(--color-4);
    padding: 10px;
    
}

.card-title {
    font-size: 2.25em;
}


.card-subtitle{
    font-size: 1.5em;
}

.card-preco{
    font-size: 2.5em;
    display: block;
    text-align: center;
    margin: 20px;
    
   
}

.card-preco>sup {
    font-size: 20px;
    font-weight: bold;
}

.card-content p{
    font-size: 1.25em;
    line-height: 2;
    padding: 0 10px;
    
}

.btn{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-assinar{
    
    height: 60px;
    width: 200px;
    color: white;
    padding: 15px 45px;
    background-color: var(--color-4);
    border: none;
    border-radius: 10px;
    font-size: 1.25em;
    transition: 1s;

}

.btn-assinar:hover{
    background-color: #4A0001;
}

/* footer */

footer {
    text-align: center;
    padding: 15px;
    background: var(--color-3);
    margin-top: 15px;
    
}

.footer-cnt{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-cnt img{
    width: 24px;
    color: white;
}

/* animações /*


/*animação scroll */

[data-anime] {
    opacity: 0;
    transition: .2s;
}

[data-anime="left"] {
    transform: translate3d(-35px, 0, 0);
}

[data-anime="rigth"] {
    transform: translate3d(35px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

